@import '../node_modules/pam-frontend-core/less/variables';


@meldingBredde: 27rem;
@meldingBreddeMobil: 80%;

@storSkjermSkjema: 432px;
@litenSkjermSkjema: 431px;

@skjemaBredde: 25rem;

body {
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  height: 100%;
  margin: 0;
}

.app {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

// HEADER

.header {
  display: flex;
  align-items: center;
  height: 4.5rem;
  border-bottom: 2px solid #40c1ac;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  @media (max-width: 767px) {
    padding-right: 1.25rem;
  }

  .header-hoyre {
    display: flex;
  }
}

// SAMTALE

.samtale-wrapper {
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: center;
}

.samtale {
  @media (min-width: 768px) {
    width: 40rem;
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .samtale-padding {
    min-height: 2.5rem;
  }
}

.meldingsrad {
  display: flex;
}

.sporsmal {
  justify-content: flex-start;

  .melding {
    background-color: #f1f1f1;
    color: #062140;
  }

  .melding:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: #f1f1f1;
    border-left: 0;
    margin-top: -6px;
    margin-left: -6px;
  }

  .robot {
    width: 50px;
    height: 50px;
    align-self: center;
    padding-top: 15px;
    padding-right: 14px;
  }
}

.svar {
  justify-content: flex-end;

  .melding {
    background-color: #062140;
    color: white;
  }

  .melding:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: #062140;
    border-right: 0;
    margin-top: -6px;
    margin-right: -6px;
  }
}

.melding {
  @media (min-width: 768px) {
    max-width: @meldingBredde;
  }
  @media (max-width: 767px) {
    max-width: @meldingBreddeMobil;
  }
  padding: 1rem;
  border-radius: 12px;
  position: relative;
  margin-top: 0.5rem;
  overflow-wrap: break-word;

  p {
    margin: 0;
  }
}

.meldingsgruppe {
  margin-top: 0.75rem;
}

.skriver-melding {
  opacity: 0.2;

  .bounce {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    background: rgba(0, 0, 0, 1);
  }

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0)
    }
    40% {
      -webkit-transform: scale(1.0)
    }
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
}

// Knapper i samtalen

.knapperad {
  display: grid;
  margin-top: 1rem;
  justify-items: end;

  .knapper--flytende {
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
    max-width: @meldingBredde;
  }

  .knapper--kolonne {
    display: grid;
    justify-items: end;
    max-width: @meldingBredde;
  }

  .knapper--måneder,
  .knapper--varighet {
    display: grid;
    @media (min-width: @meldingBredde) {
      width: 30rem;
    }
    @media (max-width: 479px) {
      width: 100%;
    }
    @media (min-width: 360px) {
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: auto auto auto auto;
    }
    @media (max-width: 359px) {
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto auto auto auto;
    }

    .Knapp {
      margin-left: 0.5rem;
    }
  }

  .Knapp {
    margin-top: 0.5rem;

    @media (min-width: 768px) {
      margin-left: 1rem;
    }
    @media (max-width: 767px) {
      margin-left: 0.5rem;
    }
  }
}

// SKJEMA

.skjema-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  @media (min-width: 768px) {
    margin-top: 1.25rem;
  }
  @media (max-width: 767px) {
    margin-top: 1rem;
  }
}

.skjema {
  display: flex;
  align-self: flex-end;
  flex-direction: column;

  @media (min-width: @storSkjermSkjema) {
    width: @skjemaBredde;
  }

  @media (max-width: @litenSkjermSkjema) {
    width: 100%
  }

  .år-wrapper {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    width: 9rem;
  }

  .select-i-samtaleflyt-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .gå-videre-knapp {
    display: flex;
    justify-content: flex-end;
  }
}

.textarea_stor {
  height: 20rem;
}

.PersonaliaSeksjon--telefonnummer {
  display: flex;
  align-items: center;

  .PersonaliaSeksjon--telefonnummer--country-code {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .PersonaliaSeksjon--telefonnummer--input {
    max-width: 6rem;
  }
}

.PersonaliaSeksjon-poststed {
  display: flex;

  :first-child.skjemaelement {
    width: 6rem;
  }

  :last-child.skjemaelement {
    width: 100%;
    padding-left: 1rem;
  }
}

.ForerkortSeksjon-datolinje {
  display: flex;

  :first-child.skjemaelement {
    width: 6rem;
  }

  :nth-child(2).skjemaelement {
    width: 8rem;
    padding-left: 1rem;
  }

  :last-child.skjemaelement {
    padding-left: 1rem;
    width: 6rem;
  }
}

.typeahead-skjema-height-wrapper {
  min-height: 12rem;
}

.avslutt-knapp {
  text-decoration: none;
}

.skjemaelement__input.textarea--medMeta.overflow-auto-textbox {
  min-height: 6.5rem;
  overflow: auto;
}

.skjemaelement--checkbox-label {
  user-select: none;
}

.DatoInput-fra-til-rad {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.DatoInput-wrapper {
  display: flex;
  align-items: flex-start;

  .skjemaelement__input.input--fullbredde.aar {
    width: 5rem;
  }

  select.skjemaelement__input.DatoInput-måned {
    padding-right: 2.5rem;
  }

  .DatoInput-år-wrapper {
    margin-left: 1rem;
  }
}

.ValgfriDatoInput-kolonne {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;


  .Dato-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .skjemaelement {
      margin-bottom: 0;
    }

    .skjemaelement__input.input--fullbredde.aar {
      width: 5rem;
    }

    .DatoInput-måned {
      padding-right: 2.5rem;
    }

    .DatoInput-år-wrapper {
      margin-left: 1rem;
    }
  }

}

.Varighet-kolonne {
  display: flex;
  flex-direction: column;

  .Inputs-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .Select-wrapper {
    width: 8rem;
  }

  .Varighet-enhet {
    padding-right: 2.5rem;
  }

  .Varighet-antall {
    width: 5rem;
    margin-left: 1rem;
  }

}


.ForlateSiden {
  text-decoration: none;

  .lenke {

    display: inline-flex;
    align-items: center;
  }

  .ForlateSiden__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    background-image: data-uri('image/svg+xml;charset=UTF-8', '../assets/External_link.svg');
  }

  .lenke:hover,
  .lenke:active,
  .lenke:focus {
    .ForlateSiden__icon {
      width: 16px;
      height: 16px;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../assets/External_link_hover.svg');
    }
  }
}

.app {
  .lenke {
    color: #8C368E;
  }

  .lenke:visited {
    color: #8C368E;
  }

  .lenke:hover {
    color: #8C368E;
    text-decoration: none;
  }
}

// TYPEAHEAD
.typeahead-wrapper {
  margin-bottom: 1rem;
}

.typeahead {
  position: relative;

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid @green;
    border-top: none;
    box-shadow: 0 5px 15px -5px @navGra60;
    overflow: auto;
    max-height: 122px;
  }

  ul li {
    display: block;
    clear: both;
    line-height: 1.15rem;
    color: #333;
    font-size: initial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
}

.typeahead-suggestions-hidden {
  display: none;
}

.typeahead .typetext {
  display: block;
  width: 100%;
  padding: 3px 10px;
}

.typeahead .active {
  background-color: @greenLighten;
}

.typeahead-substring {
  font-weight: 600;

  .Utdanningsnivå {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

